  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- OG Meta Data -->
    <meta content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" property="og:title">
    <meta content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" property="og:description">
    <meta content="website" property="og:type">
    <meta content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" property="og:url">
    <meta content="{{ site.cover_image | prepend: site.baseurl | prepend: site.url }}" property="og:image">
    <meta content="{{ site.title }}" property="og:site_name">
    <meta content="{{ site.fb_admins }}" property="fb:admins">
    <meta content="{{ site.fb_app_id }}" property="fb:app_id">

    <!-- Twitter -->
    <meta content="summary_large_image" name="twitter:card">
    <meta content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" name="twitter:url">
    <meta content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" name="twitter:title">
    <meta content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" name="twitter:description">
    <meta content="{{ site.cover_image | prepend: site.baseurl | prepend: site.url }}" name="twitter:image">
    <meta content="@{{ site.twitter_id }}" name="twitter:site">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,700,300,300italic,400italic,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  </head>
