<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  {% if page.url and site.baseurl %}
  <link rel="canonical" href="{{ page.url | absolute_url }}">
  {% endif %}

  <link rel="stylesheet" href="{{ '/public/css/poole.css' | absolute_url }}">
  <link rel="stylesheet" href="{{ '/public/css/syntax.css' | absolute_url }}">
  <link rel="stylesheet" href="{{ '/public/css/lanyon.css' | absolute_url }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">

  <!-- Icons -->
  <link rel="apple-touch-icon" sizes="48x48" href="{{ site.url }}{{site.baseurl}}/public/icons/monogram-48x48.png"/>
  <link rel="apple-touch-icon" sizes="72x72" href="{{ site.url }}{{site.baseurl}}/public/icons/monogram-72x72.png"/>
  <link rel="apple-touch-icon" sizes="96x96" href="{{ site.url }}{{site.baseurl}}/public/icons/monogram-96x96.png"/>
  <link rel="apple-touch-icon" sizes="144x144" href="{{ site.url }}{{site.baseurl}}/public/icons/monogram-144x144.png"/>
  <link rel="apple-touch-icon" sizes="192x192" href="{{ site.url }}{{site.baseurl}}/public/icons/monogram-192x192.png"/>
  <link rel="apple-touch-icon" sizes="256x256" href="{{ site.url }}{{site.baseurl}}/public/icons/monogram-256x256.png"/>
  <link rel="apple-touch-icon" sizes="384x384" href="{{ site.url }}{{site.baseurl}}/public/icons/monogram-384x384.png"/>
  <link rel="apple-touch-icon" sizes="512x512" href="{{ site.url }}{{site.baseurl}}/public/icons/monogram-512x512.png"/>
  <link rel="shortcut icon" sizes="196x196" href="{{ site.url }}{{site.baseurl}}/public/icons/monogram-196x196.png"/>
  <link rel="icon" href="{{ site.url }}{{site.baseurl}}/public/icons/monogram-32x32.png" type="image/png"/>

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml">

  <!-- Analytics -->
  <script defer data-domain="cdoyle.me" src="https://plausible.io/js/script.outbound-links.js"></script>
  <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>

  {% seo %}
</head>
