<ul class="social">
  <li><a href="{{ site.author.github }}" target="_blank" onclick="ga('send', 'event', 'social_links', 'click', 'github');"><i class="fa fa-github"></i></a></li>
  <li><a href="{{ site.author.twitter }}" target="_blank" onclick="ga('send', 'event', 'social_links', 'click', 'twitter');"><i class="fa fa-twitter"></i></a></li>
  <li><a href="{{ site.author.facebook }}" target="_blank" onclick="ga('send', 'event', 'social_links', 'click', 'facebook');"><i class="fa fa-facebook"></i></a></li>
  <li><a href="{{ site.author.linkedin }}" target="_blank" onclick="ga('send', 'event', 'social_links', 'click', 'linkedin');"><i class="fa fa-linkedin"></i></a></li>
</ul>
