.resume-section {
  text-align: left;
  page-break-inside: avoid;
}

.resume-section h4 > small, .company h3 > small {
  font-weight: 100;
}

.resume-entry {
  padding-bottom: .75em;
}

.resume-entry h3 {
  font-weight: bold;
}

.name {
  text-align: left;
  margin-top: 0 !important;
}

.name h1 {
}

.name img {
  width: 132px;
  height: 132px;
  padding: 5px;
  border: 1px solid $light-gray-color;
  vertical-align: middle;
}

.daterange {
  font-style: italic;
  color: $medium-gray-color;
}

.resume-entry li {
  list-style-type: disc;
  list-style-position: inside;
}
