---
layout: default
---

<div class="post">
  <h1 class="post-title">
    {% if page.external_url %}
    <a href="{{ page.external_url }}"> {{ page.title }} </a>
    {% else %} {{ page.title }} {% endif %}
  </h1>
  <span class="post-date">
    {{ page.date | date_to_long_string: "ordinal" }} {% if page.external_url %}
    |
    <a href="{{ page.external_url }}"> View the linked article </a>
    {% endif %}
  </span>
  {{ content }}
</div>

{% if site.related_posts.size >= 1 %}
<div class="related">
  <h2>Other Recent Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}" class="plausible-event-name=related+post+click plausible-event-destination={{ page.slug }}">
            {{ post.title }}
          <small>{{ post.date | date_to_long_string: "ordinal" }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
